<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Georgetown Air Pollution App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"></head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Air Quality Prediction App</h1>
        <hr class="my-4">

        <!-- <p> {{ data }} </p> -->

        <form action="/submit" method="GET">
            <!-- Station -->
            <label for="station_id">Choose a Station: </label><br>
            <select id="station_id" name="station_id">
              <option value="MA_EPA">MA_EPA</option>
              <option value="13th & E ST SE A">13th & E ST SE A</option>
              <option value="13th & E ST SE B">13th & E ST SE B</option>
              <option value="VA_EPA">VA_EPA</option>
                <option value="V Street">V Street</option>
              <option value="Arlington">Arlington</option>
              <option value="Cheverly 1">Cheverly 1</option>
              <option value="Cheverly 9">Cheverly 9</option>
              <option value="14th & S ST NW B">14th & S ST NW B</option>
              <option value="Courthouse">Courthouse</option>
              <option value="McMillan 1">McMillan 1</option>
            </select><br><br>

            <!-- Temperature -->
            <label for="temp">Temperature (degrees C): </label><br>
            <input type="text" id="temp" name="temp"><br><br>

            <!-- DEW -->
            <label for="dewp">Dewpoint (degrees C): </label><br>
            <input type="text" id="dewp" name="dewp"><br><br>

            <!-- Submit -->
            <input type="submit" value="Make Prediction">

        </form>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>